.heading {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 300;
    color: rgb(23, 2, 2);
    margin-bottom: 1rem;
    margin-left: 400px;
    font-size: 60px;
}

/* Media Queries */
@media (max-width: 768px) {
    .heading {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 20px;
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .heading {
        font-size: 1.25rem;
    }
    h1 {
        font-size: 30px;
        margin-left: 5px;
    }
}
